<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="my-box">
        <h1>{{ title }}</h1>
        <form method="post" action="/search">
            <input type="radio" id="search_type" name="search_type" value="title" checked>
            <input type="radio" id="search_type2" name="search_type" value="actor">
            <input type="radio" id="search_type3" name="search_type" value="overview">
            <input type="radio" id="search_type4" name="search_type" value="overview_content">
            <br >
            <input class= "box1" type="text" name="search_query" placeholder="Enter {{ search_type }} here" value="{{ search_query }}">
            <br>
            <input class="btn" type="submit" value="Search">
        </form>

        <!-- Display search results -->
        {% if search_result %}
        <div class="box2">
        <ul id="myUL">
            {% for item in search_result %}
             <li class="lis"><a href="#" onclick="getOverview('{{ item }}')">{{ item }}</a></li>
            {%endfor%}
        </ul>
        </div>
        {% endif %}
    </div>
    <div id="overviewContainer"></div>
  <script>
        function getOverview(movieTitle) {
            // Make an asynchronous request to your Flask backend
            fetch(`/getOverview?title=${encodeURIComponent(movieTitle)}`)
                .then(response => response.json())
                .then(data => {
                    // Update the content of the 'actorsContainer' element with the list of actors
                    const overviewContainer = document.getElementById('overviewContainer');
                    const overviewList = data.map(overview => `<li>${overview}</li>`).join('');
                    overviewContainer.innerHTML = `<h3>Movie Overview:</h3><ul>${overviewList})}</ul>`;
                    overviewContainer.style.display = 'block';
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>

